<!-- confirmation-dialog.component.html -->
<div class="confirmation-dialog">
    <h4 mat-dialog-title class="text-center">Confirmation</h4>
    <div mat-dialog-content class="dialog-content">
        <!-- Display the message passed from the parent component -->
        <p>{{ data.message }}</p>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-center mb-3">
        <!-- Cancel button -->
        <button mat-button class="btn btn-secondary mx-2" (click)="onCancel()">Cancel</button>
        <!-- Confirm button -->
        <button mat-button color="primary" class="btn btn-primary mx-2" (click)="onConfirm()">OK</button>
    </div>
</div>